body{
    margin: 0px;
    padding: 0px;
    background: #95483f;
    background-image: url(images/img\ \(122\).jpg);
}
.surface{
    background-color: aliceblue;
    height: 630px;
    width: 178vh;
    margin: auto;
    position: relative;
    margin-top: 30px;
    border-radius: 20px;
    overflow:hidden;
}
.surface::before {
  content: '';
  display: block;
  left: 0px;
  top: 0px;
  background-image: url(images/Beige\ And\ Black\ Minimalist\ Clothing\ Store\ Logo.png);
  background-repeat: repeat;
  background-position: 50% 0;
  opacity: 0.09;
  background-size: 19.9%;
  height: 100%;
  width: 100%;
  position: absolute;
}
.left-content{
    background-color: #A35D30;
    height: 630px;
    width: 32vh;
    border-radius: 20px;
    position: relative;
}
.Your-Profile{
  position: absolute;
  top: 68px;
  left: 33vh;
  font-family: sans-serif;
  font-size: xx-large;
  font-style: italic;
  font-weight: bold;
  display: inline;
}
.xrdd{
    margin-left: 25px;
}
.bi-gear{
    color:black;
    position: absolute;
    left: 55px;
    bottom: 50px;
    height: 20px;
    width: 20px;
}
.text-log-out{
  margin-left: 30px;
  color: black;
  position: absolute;
  left: 50px;
  bottom: 20px;
}
.bi-power{
  color: black;
  position: absolute;
  left: 50px;
  bottom: 20px;

}
.bi-bell{
    color: rgb(59, 52, 52);
    position: absolute;
    right: 61px;
    bottom: 16px;
    height: 20px;
    width: 20px;
}
.bi-bell:hover{
    color: white;
}
.dashbd-logo{
  position: absolute;
  right: 8px;
  bottom: 2px;
  height: 46px;
  width: 46px;
}
.bi-house, .bi-calendar4-event, .bi-list-task, .bi-journals, .bi-person-lines-fill{
  margin: 0px 20px 0px 45px;
}

.dashboard-menu {
    width: 100%;
    display: inline-block;
}
  
.dashboard-menu a {
    background-color: #A35D30;
    color: aliceblue;
    display: block;
    padding: 6px;
    margin-bottom: 30px;
    border-radius: 20px;
    text-decoration: none;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;

} 
.dashboard-menu a:hover {
    background-color: #DCDCDC;
    color: black;
}
  
.dashboard-menu a.active {
    background-color: #6A4C34;
    color: aliceblue;
    border-radius: 15px 15px 0px 0px;
    height: 50px;
    margin: auto;
}
.profilePic{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 30px 0px 10px 80px;
}
.surface-header1{
    background-color: gainsboro;
    height: 50px;
    width: 100%;
    position: absolute;
    border-radius: 0px 20px 0px 0px;
    right: 0px;
}
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    max-width: 400px;
    margin: -20px 50px 0px 350px;
   }
   
   .input {
    width: 100%;
    height: 30px;
    line-height: 25px;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 13px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: #6A4C34;
    background-color: aliceblue;
    box-shadow: 0 0 0 4px rgba(139, 98, 114, 0.1);
   }
   
   .icon {
    position: relative;
    left: 23.0rem;
    fill: #656570;
    width: 1rem;
    height: 1rem;
   }
.create-new{
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    padding: 0.2em 0.2em 0.3em 0.3em;
    color: whitesmoke;
    background: rgb(13, 16, 19);
    background: linear-gradient(0deg, rgb(27,51,42) 0%, rgb(225, 214, 93) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.9em #6A4C34;
    letter-spacing: 0.05em;
    border-radius: 10px;
    width: 140px;
   }
   .text{
    margin-left: 10px;
   }
   
   .create-new svg {
    margin-right: 0px;
   }
   
   .create-new:hover{
    box-shadow: 0 0.5em 1.5em -0.5em aliceblue;
    border-radius: 10px 10px 0px 0px;
   }
   
   .create-new:active {
    box-shadow: 0 0.3em 1em -0.5em #6A4C34;
   }
   .dropdown-c-n{
    display: inline-block;
    position: absolute;
    right: 4%;
    top: 80px;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 140px;
    padding: 10px;
    text-align: center;
}
.dropdown-content a:hover{
    background-color: #ddd;
    border-radius: 0px 0px 10px 10px;
}
.dropdown-c-n:hover .dropdown-content{
    display: block;
    border-radius: 0px 0px 10px 10px;
}
.dropdown-c-n:hover .create-new{
    background-color: #6A4C34;
}
.portfoliocard{
    position:absolute;
    height:490px;
    width:740px;
    background:rgba(255,255,255,1);
    border: none;
    box-shadow:0px -1px 3px rgba(0,0,0,0.1),
                0px 2px 6px rgba(0,0,0,0.5);
    border-radius:6px;
    left: 19%;
    top: 123px;
    overflow:hidden;
    z-index:100;
  }
.coverphoto{
    width:100%;
    height:145px;
    background:url(images/img\ \(122\).jpg);
    background-position:center center;
    border-top-right-radius:8px;
    border-top-left-radius:8px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    box-shadow:inset 0px 3px 20px rgba(255,255,255,0.3),
                    1px 0px 2px rgba(255,255,255,0.7);
    z-index:99;
  }
.left_col{
    width:55%;
    height:345px;
    clip-path: ellipse(50% 81% at 18% 50%);
    padding-top:70px;
    box-sizing:border-box;
    background-color: rgba(230,230,230,1);
    position: absolute;
    bottom: 0px;
    list-style: none;
    padding-left: 10px;

  }
  .right_col{
    width:80%;
    height:400px;
    background:rgba(245,245,245,1);
    border-left:1px solid #ddd;
    box-shadow:inset 0px 1px 1px rgba(255,255,255,0.7);
    /* margin-left:-10px; */
    border-bottom-right-radius:5px;
    z-index: -2;
    position: absolute;
    right: 0px;
    bottom: 0px;
    /* padding: 15px 0px 5px 0px; */
  }
  .profile_picture{
    width:180px;
    height:180px;
    background:rgba(255,255,255,1);
    position:absolute;
    top:65px;
    left:35px;
    border-radius:100%;
    background-image: url(pics/good-faces-xmSWVeGEnJw-unsplash.jpg);
    background-size:100% 100%;
    padding:7px;
    border:4px solid rgba(255,255,255,1);
    z-index: 100;
  }
  .contact_information{
    list-style: none;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 2;
    font-size: 1.0rem;
    position: absolute;
    padding-left:  40px;
  }
  .name{
    margin: 45px 20px 0px 55px;
    font-family: serif;
    font-weight: 900;
    font-size: 1.5rem;
  }
  .work{
    font-style: italic;
    margin: 5px 0px 0px 100px;
    font-size: 1.5rem;
  }
  .My-Bio{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 150px;
    margin-top: 50px;
    margin-right: 30px;
    text-align: justify;
    line-height: 2.4;
  }
  .bio-tl{
    margin: 0px 0px 0px 0px;
    font-family: serif;
    font-weight: 900;
    margin-left: 140px;
    font-style: italic;
    font-size: 2.2rem;
  }
  .mod-letf-content{
    position: absolute;
    display: none;
    
  }
  
.sidenav {
  height: 100%;
  position: absolute;
  z-index: 300;
  top: 0;
  left: 0px;
  background-color:  #A35D30;
  border-radius: 15px 15px 0px 0px;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}

.sidenav a {
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 13px;
  color: aliceblue;
  display: block;
  transition: 0.3s;
  margin: 30px 0px 10px -27px;
}

.sidenav a:hover {
  color:  #A35D30;
  background-color: aliceblue;
  padding: 8px 0px 8px 10px;
}

.sidenav .closebtn {
  position: absolute;
  top: -30px;
  right: 1px;
  font-size: 36px;
}
.left_col2, .right_col2{
  display: none;
  width: 100%;
  border: none;
  height: 30%;
  margin: 0px;
  transform: translateX(100px)
  /* height: 50%; */
}
@media only screen and (min-width: 991px){
  .sidenav{
    display: none;
  }
}
  @media only screen and (max-width: 995px) {

  .surface{
    width: 90vw;
  }
  .left-content, .settings, .log-out{
    display: none;
  }
  .mod-left-content{
    display: block;
    margin: 9px 15px;
  }
  .surface-header1{
    width: 100%;
  }
  .dashboard-menu a {
    text-align: left;
    font-weight: 530;

} 
.dashboard-menu a:hover {
    background-color: #DCDCDC;
    color: black;
}
  
.dashboard-menu a.active {
    background-color: #6A4C34;
    color: aliceblue;
    border-radius: 15px 15px 0px 0px;
}
  .group {
    line-height: 28px;
    align-items: center;
    max-width: 213px;
    margin: -37px 0px 0px 15%;
   }
   
   .icon {
    position: relative;
    left: 12.3rem;
    width: 1rem;
    height: 1rem;
   }

  .Your-Profile{
    position: absolute;
    width: 100%;
    height: 1px;
    left: 15px;
    top: 70px;
    font-size: 28px;
  }
  .dropdown-c-n{
    z-index: 999;
    position: absolute;
    top: 70px;
    right: 7px;
  }
  .portfoliocard{
    position: relative;
    width: 76%;
    height:900px;
    left: 15px;
    overflow: none;
  }
  .profile_picture{
    width:155px;
    height:155px;
    position:relative;
    margin-top: -150px;
    left: 25%;
    right: 25%;
    padding:3px;
    z-index: 100;
  }
  .coverphoto{
    width:100%;
    height:130px;
    z-index:99;
  }
  .left_col, .right_col{
    display: none;
  }
  .left_col2, .right_col2{
    display: block;
    padding: 0px;
    margin:0px;
    position: relative;
    top: -5px;
    left: -100px;
    list-style: none;
  }
  .name{
    display: inline;
    position: absolute;
    top: 30px;
    left: 6%;
  }
  .work{
    margin-left: 120px;
    margin-top:100px;
  }
  /* .xrdd{
    margin-left: 25px;
    display: inline;
}
.bi-gear{
    color:black;
    position: absolute;
    left: 5px;
    bottom: 50px;
    height: 20px;
    width: 20px;
}
.text-log-out{
  margin-left: 30px;
  color: black;
  position: absolute;
  left: 0px;
  bottom: 20px;
}
.bi-power{
  color: black;
  position: absolute;
  left: 0px;
  bottom: 20px;

} */
  
}